:root {
  --grey: rgba(54, 54, 54, 0.65);
  --lego-yellow: rgb(170, 144, 71);
}

* {
  margin: 0;
  padding: 0;
  color: var(--lego-yellow);
}

body {
  background-image: url(images/lego-heads.jpg);
  background-size: cover;
}

h1 {
  font-family: url(Fonts/lego-full/LEGO.ttf), sans-serif;
  color: var(--lego-yellow);
  text-align: center;
  margin-top: 1.5em;
  font-size: 50px;
  font-weight: 930;
}

.container {
  /* border: 2px dashed rgb(75, 70, 70); */
  background-color: var(--grey);
  box-shadow: 0 0 35px rgb(54, 54, 54);
  font-size: large;
  font-weight: 900;
  border-radius: 35px;
  width: clamp(600px, 900px, 1100px);
  height: 33em;
  margin: 5em auto;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.briefing {
  align-self: baseline;
  margin-left: 8.7em;
}

form {
  /* background-color: rgba(54, 54, 54, 0.5); */
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label,
input {
  margin: 0.7em;
  display: block;
  width: 100%;
}

input {
  color: black;
  padding: 0px 4px;
  font-size: large;
  height: 2em;
  width: 100%;
  border: 1px solid var(--lego-yellow);
  border-radius: 4px;
  box-shadow: inset -2px -2px 5px rgba(54, 54, 54, 0.65);
}

input:invalid {
  border: 2px solid rgba(194, 56, 56, 0.829);
}

fieldset {
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6em;
}

.form-item {
  /* border: 1px solid white; */
  width: 30%;
  max-width: 50%;
}

.button-container {
  margin-top: 2rem;
  align-self: baseline;
  margin-left: 8.8rem;
}

button {
  padding: none;
  margin-bottom: 1em;
  font-size: large;
  border: none;
  border-radius: 5px;
  width: 9rem;
  height: 2rem;
  color: whitesmoke;
  background-color: var(--lego-yellow);
}

p {
  margin: 0.9rem 0;
}

footer {
  background-color: var(--lego-yellow);

  padding: 1rem;
}

footer,
p {
  padding: none;
  margin: 0px;
  color: whitesmoke;
  font-size: large;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
